tools-bar {
    .headerShadow {
        box-shadow: 0px 4px 8px grey;
    }
    .statusIcons {
        float: right;
        margin-top: 5px;
        margin-right: -20px;
        font-size: 25px !important;
        text-shadow: 2px 2px 2px black;
    }
    .titleBar {
        float: left;
        margin-top: 10px;
        text-shadow: 2px 2px 2px black;
    }

    .toolbar-title-md{
        color: #FFF;
    }

    .toolbar-background-md{
        //Modo: Azul y Negro
        background: -webkit-linear-gradient(#2675b5, #000) !important;

        // Modo: Segat
        //background: -webkit-linear-gradient(#094C83, #337AB7) !important;
        //background: -o-linear-gradient(#094C83, #337AB7) !important;
        //background: -moz-linear-gradient(#094C83, #337AB7) !important;
        //background: linear-gradient(#094C83, #337AB7) !important;
        
        // Modo: Rojo
        //background: -webkit-linear-gradient(#5a5a5a, #000) !important;
        //background: -o-linear-gradient(#5a5a5a, #000) !important;
        //background: -moz-linear-gradient(#5a5a5a, #000) !important;
        //background: linear-gradient(#5a5a5a, #000) !important;
    
        // Modo: Cyan y Rojo
        //background-color: #C13245;
    }


    // .titleGrid{
    //     background: #cee9ff;
    //     border: #a9a9a9 solid 1px;
    //     color: #6f6f6f;
    // }


    // .iconMenu{
    //     font-size:30px;
    //     color: #F7F7F8;
    //     float:left;
    // }
  
    .iconStatus{
       color: #779;
       margin-right:12px;
       float:left;
    }
  
    .iconStatusON{
       color: white;
    }
  
    .counter{
       opacity: 0;
       width: 15px;
       height: 15px;
       position: relative;
       right: -12px;
       top: -32px;
       background-color: red;
       border-radius: 100%;
       -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
       box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
       z-index: 1000;
       font-size: 12px;
    }
  
    .counterON {
      opacity: 1;
    }
  
    .counterNumber {
        font-size: 11px;
        font-family: sans-serif;
        z-index: 1000;
        color: #fff;
        text-align: center;
        font-weight: bold;
        padding-top: 2px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0,1);
    }    
}
