page-login {
    .backKM {
        background: radial-gradient(#ffffff, rgb(108, 120, 124));
        //background: radial-gradient(#2675b5, #000);
    }

    .logoKM{
        margin-top: 50px;
      }

  .backForm {
    background: radial-gradient(circle at 50%, #fff, #eee 70%, #ddd 85%, #bdbcbc 100%);
    //background: white;
    margin: auto;
    width: 80%;
    padding: 20px;
    left: 0;
    right: 0;
    border-radius: 20px;
    box-shadow: 2px 2px 8px #666;
  }

  .loginBtn {
    box-shadow: 2px 2px 5px #444;
    width: 95%;
    height: 50px;
    margin: auto;
    margin-top: 30px;
  }

}
