page-usuario {

// .ion-page > ion-content {
//     background: radial-gradient(#def 0%, #8ebbd0 92%);
// }

    .padInfo{
        width: 80%;
        margin: auto; 
    }

    .btnAction {
        padding: 10px;
        height: 40px;
        width: 80%;
        border-radius: 5px;
        box-shadow: 3px 3px 5px #444;
    }

    .keyBackground{
        border-radius: 50%;
        background: green;
        -webkit-box-shadow: 2px 2px 4px grey;
        box-shadow: 2px 2px 4px grey;
        width: 180px;
        height: 180px;
        text-align: center;
        margin: auto;
    }
    .keyIcon{
        font-size: 130px;
        color:white;
        text-shadow: 2px 2px 2px black;
        text-align: center;
    }
    .keyText{
        text-align: center;
        font-size: 25px;
        color:white;
        font-weight: bold;
        margin-top: -30px;
        text-shadow: 1px 1px 3px black;
    }

}
