<!-- <ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Key Master
    </ion-title>
  </ion-navbar>
</ion-header> -->
<div>
    <ion-navbar color="default">
      <ion-title>
          <img class="logo" src="assets/imgs/Telecom_arg_logo.png" >
          <span class="title">{{title}} {{version}}</span>
      </ion-title>
    </ion-navbar>
  </div>


<ion-content padding>
  <ion-grid>
      <ion-item>
          <ion-input type="text" placeholder="Insert Text...." [(ngModel)]="qrData"></ion-input>
      </ion-item>
      
      <button ion-button full icon-left (click)="createCode()"><ion-icon name="barcode"></ion-icon>Create Code</button>
      <button ion-button full icon-left (click)="scanCode()"><ion-icon name="qr-scanner"></ion-icon>Scan Code</button>
      <button ion-button full icon-left (click)="takePic()"><ion-icon name="camera"></ion-icon>Take Picture</button>
      <button ion-button full icon-left (click)="switchFlash()"><ion-icon name="bulb"></ion-icon>Switch Flashlight</button>
      <button ion-button full icon-left (click)="getCoords()"><ion-icon name="map"></ion-icon>GeoLocation</button>
      
      <ion-card *ngIf="createdCode">
         <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
         <ion-card-content>
           <p>Value: {{ createdCode }}</p>
         </ion-card-content>
      </ion-card>
      <ion-card *ngIf="scannedCode">
         <ion-card-content>
           <p>Result from scan: {{ scannedCode }}</p>
         </ion-card-content>
      </ion-card> 
      <ion-card *ngIf="imageData">
          <ion-card-content>
            <img [src]="imageData"/>
          </ion-card-content>
       </ion-card> 
    
      <ion-card *ngIf="gps">
          <ion-card-content>
            <p>Latitud: {{gps.latitude}}</p>
            <p>Longitud: {{gps.longitude}}</p>
          </ion-card-content>
       </ion-card> 
  </ion-grid>
</ion-content>
