page-registracion {
    .qrcode {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    // .ico{
    //     color:white;
    //     background: white;
    //     height: 30px;
    // }

    .qrScanner{
        margin-top: 20px;
        height: 40px;
        margin-left: -80px;
    }

    .searchbar-md .searchbar-input{
        box-shadow: none;
    }
    .searcher{
        margin-left: -10px;
        padding: 0px;
        width: 246px;
        text-decoration: none;
    }
    .searcherList {
        width: 90%;
        margin:auto;
    }
}
