page-registracion {
    .ico{
        color:white;
        background: white;
        height: 30px;
    }

    .qrScanner{
        margin-top: 30px;
        height: 50px;
        margin-left: -80px;
    }
}
