<ion-header class="headerShadow">
  <ion-navbar>
    <ion-title>
      <div class="titleBar">{{title}}</div>
      <div class="statusIcons">
        <ion-icon name="exit" class="iconStatus" [ngClass]="{'iconStatusON' : safOpsCounter > 0}">
          <div class="counter" [ngClass]="{'counterON':safOpsCounter > 0}">
            <div class="counterNumber">{{safOpsCounter}}</div>
          </div>
        </ion-icon>
        <ion-icon name="notifications" class="iconStatus" [ngClass]="{'iconStatusON' : alertsCounter > 0}">
          <div class="counter" [ngClass]="{'counterON':alertsCounter > 0}">
            <div class="counterNumber">{{alertsCounter}}</div>
          </div>
        </ion-icon>
        <ion-icon name="stats" class="iconStatus" [ngClass]="{'iconStatusON' : networkStatus == true}"  (click)="changeNetworkStatus()">
        </ion-icon>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>